<footer class="bg-dark text-white text-center py-4">  
        <div class="container">  
            <div class="row justify-content-center">  
                <div class="col-md-12">  
                    <p class="mb-0">  
                        Created  by   
                        <a href="#" class="text-success">Mustafa Kamal Zada</a>,   
                        <a href="#" class="text-success">Ahmad Fahim Qari Zada</a>,   
                        <a href="#" class="text-success">Dinislam Bakhyt</a>  
                    </p>  
                    <p class="mb-0">© 2025 Web Technology Backend / Final Project.</p>  
                </div>  
            </div>  
        </div>  
    </footer>   